@font-face {
    font-family: 'StarWarsFont';
	src: './assets/StarWarsFont.ttf'
}
body {
    background-image: url(./assets/Starwars-background.jpg);
    background-size: cover;
}

h1 {
    font-family: 'StarWarsFont';
}

.search-bar-container {
    display: flex;
}

.search-btn {
    background-color:#ffe919
}

th {
    color: #ffe919
}

.pagination {
    display: flex;
    justify-content: center;
}